<main class="page__main">
    <aside class="looking">
        <div class="looking-a">
            <span class="looking-a__tips">Insomnia Tips</span>
            <h2 class="looking-a__title">Looking through a window</h2>
            <p class="looking-a__description">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
                luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
            <button class="looking-a__button btn">go</button>
        </div>
    </aside>
    <article class="reasons">
        <h2 class="reasons__title">3 Reasons to purchase</h2>
        <div class="reason-1">
            <h3 class="reason-1__title">Ut sed metus</h3>
            <p class="reason-1__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason-2">
            <h3 class="reason-2__title">Curabitur ac erat</h3>
            <p class="reason-2__text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason-3">
            <h3 class="reason-3__title">Morbi dictum</h3>
            <p class="reason-3__text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
        <div class="reason__button">
            <button class="reason__button btn">More reasons</button>
        </div>
    </article>
</main>