/*MAIN*/
/*Looking container*/
.looking {
    margin: 30px 15px 45px 15px;
    text-shadow: 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    @media all and (min-width: 768px){
        margin: 30px 40px 60px;
    }
    @media all and (min-width: 1200px){
        margin: 60px 275px;
    }
}

/*Text*/
.looking-a__tips {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #8ccbea;
    line-height: 30px;
    font-weight: normal;
    @media all and (min-width: 1200px){
        font-size: 16px;
    }
}
.looking-a__title {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 30px;
    @media all and (min-width: 768px){
        font-size: 26px;
    }
    @media all and (min-width: 1200px){
        font-size: 26px;
    }
}
.looking-a__description {
    margin: 15px 0 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: none;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #4a4a4a;
    line-height: 30px;
    @media all and (min-width: 768px){
        font-size: 20px;
        margin: 30px 0 30px 0;
    }
}

/*Button*/
.btn {
    width: 76px;
    height: 45px;
    border: 2px #f26002 solid;
    background-color: #ffffff;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #f26002;
    transition: width ease 0.5s, background-color ease 1s, color ease 0.3s;
    &:hover {
        width: 100px;
        background-color: #f26002;
        color: #ffffff;
      }
    @media all and (min-width: 768px){
        width: 91px;
    }
    @media all and (min-width: 1200px){
        width: 160px;
    }
}