.looking {
    margin: 30px 15px 45px 15px;
}
.looking-a__tips {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #8ccbea;
    line-height: 30px;
    font-weight: normal;
}
.looking-a__title {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 30px;
}
.looking-a__description {
    margin: 15px 0 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #4a4a4a;
    line-height: 30px;

}
