/*Background-hero*/
.hero {
    background: center / cover no-repeat url("../images/cover.jpg");
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Menu top-left*/
.hero__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Text*/
.hero__text {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 284px 0 0 0;
}
.hero__text--title {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    
    @media all and (min-width: 768px) {
        font-size: 80px;
        line-height: 106px;
    }
    @media all and (min-width:1200px) {
        width: 90%;
        font-size: 100px;
        line-height: 132px;
    }

}
.hero__text--claim {
    padding: 10px 0 45px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    @media all and (min-width: 768px) {
        font-size: 24px;
        padding: 20px 0 30px 0;
    }
    @media all and (min-width:1200px) {
        padding: 0 0 30px 0;
    }
}

/*Icon scroll*/
.hero__text--scroll {
    min-width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,50%);
}
.hero__text--icon {
    transform: translate(4%,22%);
}